<header class="bg-warning">
  <nav class="navbar navbar-expand-sm navbar-light sticky-top">
  <a class="navbar-brand" href="/">Pusher Location</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mobile-menu">
      <form class="form-inline name-form">
        <input class="form-control mr-sm-2" type="name" name="name" required placeholder="Enter your name" aria-label="name">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Share Location</button>
      </form>
      <div class="share-url"></div>
    </div>
  </nav>
</header>
